.header-title{
    // position: absolute;
    // bottom: 3rem;
    font-size: text(2.3rem);
    display: inline-block;

    display: flex;
    align-items: flex-end;

    font-weight: bold;
    letter-spacing: 5px;
    line-height: text(2.4rem);

    @media #{$sm-screen}{
        line-height: 1.1;
        font-size: 1.5rem;
    }
}

.header-information-activity{
    font-size: 2.2rem;
    @media #{$sm-screen}{
        line-height: 1.1;
        font-size: 1.5rem;
    }
}