.work-head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    @media #{$lg-screen}{
        grid-template-columns: 1fr;
    }
    margin-bottom: 2rem;
}

.work-head-aside{
    margin-left: 2rem;

    @media #{$lg-screen}{
        margin-left: 0;
        margin-top: 2rem;
    }
}

.work-current-group{
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 45rem;
    margin: 2rem auto;

    @media #{$sm-screen} {
        display: block;
    }
}

.work-current-title, .work-portfolio-title{
    text-align: center;
}

.work-current-group-illustration{

}

.work-current-group-illustration-img{
    display: block;
    margin: 0 auto;
    max-width: 13rem;
}

.work-current-group-description{
    @media #{$sm-screen} {
        margin-top: 2rem;
    }
}

.work-current-group-description-title{
    font-size: 1.2rem;
    font-weight: bold;
}

.work-current-group-description-p{
    text-align: justify;
}